/* scroll to line 16 for overrides on bootstrap classes */

body {
  /* opacity: .7;
  background-image: url(design/mobile-design-step-1.jpg);
  width: 375px; */
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  background-color: hsl(217, 100%, 97%);
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 700;
}

.sidebar {
  background-image: url(assets/images/bg-sidebar-mobile.svg);
  height: 172px;
}

.sidebar .col {
  flex-grow: 0;
}

.sidebar .col small:first-child {
  height: 32px;
  width: 32px;
  margin: 8px;
}

.mainContent {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  top: -72px;
}

.controller {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Ubuntu-Regular.ttf)
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-display: swap;
  src: url(assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/Ubuntu-Bold.ttf);
}